<div class="alert" [ngClass]="alert" role="alert">
  A simple primary alert—check it out!
</div>
<br />
<button class="btn btn-info" (click)="alert = 'alert-info'">
  Info
</button>
&nbsp;
<button class="btn btn-success" (click)="alert = 'alert-success'">
  Success
</button>
<br /><br />
<h3 [ngClass]="{'text-danger': properties.danger, 'text-info': !properties.danger}">
  Hello world
</h3>
<br />
<button class="btn"
  [ngClass]="{'btn-danger': properties.danger, 'btn-info': !properties.danger}"
  (click)="properties.danger = !properties.danger"
>
  Change
</button>
<br /><br />
